:root {
	--bg-color: #1E1E2E;
  --hover-color: #F8BD96;
  --not-hover-color: #C3BAC6;
} 
.body {
  height:100%;
  background-color: var(--bg-color);
}
.links {
display:flex; 
justify-content:center;
align-items:center;
height: 90vh;
}
.link {
  transition: transform 0.5s;
  margin: 20px 20px 20px 20px;
}
svg {
  fill: var(--not-hover-color);
}
svg:hover {
  fill: var(--hover-color);
}
.link:hover {
  transform: scale(1.3);
}